<html>
	<head>
		<title>More Item Photos Page</title>
		<meta charset="utf-8">
 		<meta name="viewport" content="width=device-width, initial-scale=1.0">
 		<link href="/css/bootstrap.css" rel="stylesheet">
 		<link href="/css/bootstrap-theme.css" rel="stylesheet">
 		<link href="/css/seller_morePhotos.css" rel="stylesheet">

 		<!-- Use internet source for icons-->
 		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	</head>

	<body>
		<div class = "container">
 			<div>
 				<table>
 					<td><div class="topIcon"><a href="index_itemDetail"><i class="material-icons" style="font-size:50px;">backspace</i></a></div></td>
 					<td><h2>More Photos</h2></td>
 				</table>
 			</div>
 			<div class="placeHolder"><img src="/img/buyerMenuPic.png"></div></div>
 			<div class="placeHolder"><img src="/img/placeholder1.png"></div></div>
 			<div class="placeHolder"><img src="/img/placeholder2.png"></div></div>
 			<div class="placeHolder"><img src="/img/placeholder3.png"></div></div>

		</div>
	</body>
</html>