<html>
	<head>
		<title>seller next menu page</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/css/bootstrap.css" rel="stylesheet">
		<link href="/css/bootstrap-theme.css" rel="stylesheet">
		<link href="/css/addMenu.css" rel="stylesheet">

	<!-- Use internet source for icons-->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	</head>

	<body>
		<div class="container">
			<div id="myHeader" class="header">
			<table>
				<td><div class="topIcon" id = "close"><a href="seller_home"><i class="material-icons" style="font-size:50px;">backspace</i></a></div></td>
				<td id="topRightIconPadding"> </td>
				<td><h2>New Menu</h2></td>
				<td id="topRightIconPadding"> </td>
			</table>
			</div>

			<table>
					<tr>
						<div class="topIcon" id = "close"><a href="seller_addFromNew"><center><i class="material-icons" style="font-size:45vw;">add_circle_outline</i></center></a></div>
					</tr>
					<tr class="description">
						<center><strong><h2>Add New Post</h2></strong></center>
					</tr>

					<tr>
						<div class="topIcon" id = "close"><a href="seller_addFromHistory"><center><i class="material-icons" style="font-size:45vw;">history</i></center></a></div>
					</tr>
					<tr class="description">
						<center><strong><h2>Add From History</h2></strong></center>
					</tr>
				</tr>
			</table>
		</div>
		<script src="/js/jquery-1.11.0.js"></script>
		<script src="/js/bootstrap.js"></script>
 		<script src="/js/userHome.js"></script>
	</body>
</html>
