h1 {
	margin-left: 15px;
	font-size: 25px;
}
.topIcon {
	margin-top: 14px;
}
#topRightIconPadding {
	padding-left: 10vw;
}

#topIconPadding {
	padding-left: 3vw;
}

a {
	color: black;
}

h2, h3, h4, h5 {
	font-style: italic;
}

.search {
  border: 2px solid black;
  max-width: 440px;
  max-height: 50px;
}

#myInput {
	width: 100%;
}

.items {
	max-width: 400px;
	padding: 5px;
	background-color: lightgrey;
	margin: 20px;
}

.items img {
	width: 100px;
}

.items td {
	padding-left: 5px;
}

#orderNumbers {
	font-size: 30px;
}

.inputBar {
	max-width: 100vw;
	border-style: solid;
}

textarea {
	width: 100vw;
}

#Description {
	height: 50px;
}

button {
	margin-top: 20px;
	border-style: solid;
	border-color: black;
}