.details {
		padding: 25px;
}

#myHeader {
	background-color: white;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
	width: 100%;
}

img {
max-width: 160;
max-height: 160;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}

a {
	color: black;
}
.topIcon {
	padding-top: 12px;
}

.details {
	padding-left: 10px;
}

#callAndText {
	padding-left: 20px;
}

#total {
	background-color: white;
	width: 26vw;
	height: 20px;
	border: none;
	color: black;
	text-align: center;
	max-width: 100px;
}

.text {
	font-size: 20px;
	max-width: 380px;
	margin-left: 16px;
}

button {
    background-color: grey;
    color: white;
    padding: 20px 10vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	font-size: 20px;
	max-width: 300px;
}

#orderNumbers {
	padding-left: 5px;
	font-size: 30px;
}

textarea {
	border: 1px solid black;
}


img {
	max-width: 140px;
	max-height: 140px;
}
